<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<div class="main">
    <div class="name">
        Nemoykina Eva
    </div>
    <div class="information">
        <ol>
            <li>
                Group:
                <div>IKBO</div>
            </li>
            <li>
                Number:
                <div>36-22</div>
            </li>
            <li>
                Variant:
                <div>6</div>
            </li>
        </ol>
    </div>
</div>
</body>
</html>